@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  flex-grow: 1;
}
header{
  font-size: 20px;
}
/*estilo navbar*/
.img-fluid{
  width: 300px;
  height: 100px;
}
.custom-navbar{
  background-color: transparent;
  backdrop-filter: blur(10px); 
  font-family: 'Acme', sans-serif;
  z-index: 1000;
}
.btn-outline-success{
  background-color: #00DFA2;
  color: white;
  border-color: #F6FA70;
}
.btn-outline-success:hover{
  background-color: #FF0060;
}
.colorNav{
  background-color:#F6FA70;
  padding-bottom: 10px;
}
.navbar-nav ul{
  color: #0079FF;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.8rem;
  padding: 1.2rem;
}
.fa-user, .fa-cart-shopping{
 font-size: 30px;
 color: #FF0060;
}
.navbar-nav li {
  padding: 0.7rem 2rem;
  border-radius: 0px 50px 0px 50px;
  font-size: 0.95rem;
  text-transform: uppercase;
  background-image: linear-gradient(315deg, #e1e3e4 0%, #00DFA2 74%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-nav li.active,
.navbar-nav li:hover {
  background-image: linear-gradient(315deg, #e1e3e4 0%,#FF0060 74%);
  color: #fff;
}

.navbar-nav li.active {
background-color: var(--main-color);
}
/* -estilo del login-*/
.form-control{
  height: 50px;
}
.form-signin {
    max-width: 330px;
    padding: 1em;
    margin: 0 auto;
    background-color: #F6FA70;
}

.form-signin .form-signin-heading{
  margin-bottom: .5em;
  font-size: 3rem;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: .8em;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.form-signin input{
  border-radius: 5px;
}
.update{
    margin-top: 0.7em;
    border-radius: 1em;
    padding: 0.7em;
    font-size: 1.3rem;
    background-color: Gold;
    display: none;
}
h4{
  font-family: 'Acme', sans-serif;
  color: #0079FF;
}
/*estilo login*/
.botonLogin{
  margin-top: 1em;
  background-color: #00DFA2;
}
.botonLogin:hover{
  background-color: #FF0060;
}
.text-decoration-none{
  color: #FF0060;
}
.logoLogin{
  width: 400px;
  height: 400px;
}
.tituloRegistro{
  font-size: 50px;
}
.colorFormReg {
  background-color: #F6FA70;
  border: 2px solid #0079FF; 
  padding: 10px; 
  color: #0079FF;
  font-size: 20px;
}
.botonReg{
  background-color: #0079FF;
}
.botonReg:hover{
  background-color:#FF0060;
}
.card{
  height: 100%;
}
.card-img-top{
  width: 50%; 
  height: 50%;
  margin: 0 auto; 
  display: block;
  height: 200px; 
  object-fit: cover;
  border-radius: 60%;
  margin-top: 10px;
  border: 2px solid #FF0060;
}
/*estilos de cambio de color del globo*/
div.container h3 {
  color: #444;
  font-size: 24px;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}

.color-select {
  background-color: rgb(242, 255, 168);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.color-select div {
  background: rgb(6, 147, 207);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;    
}
.color-select #red {
  background: rgb(207, 6, 23);
}

.color-select #blue {
  background: rgb(6, 147, 207);
}

.color-select #black {
  background: #333;
} 
.images img{
  width: 200px;
  height: auto;
}
.cardColorGlobo{
  width: 300px;
  height: auto;
  margin-top: 20px;
}
/*estilos nosotros*/
h2{
  font-size: 50px;
  color: #FF0060;
}
.textoNosotros p{
  font-size: 23px;
  color: #0079FF;
  background-color: #F6FA70;
}
.fotoPerfil{
  border-radius: 50%;
  width: 250px;
  height: auto;
  border: 1px solid #00DFA2;
}
.descripcionPerfil p{
  font-size: 22px;
}
.descripcionPerfil h5{
  font-size: 30px;
  color: #0079FF;
}
.descripcionPerfil{
  color: #FF0060;
}